* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/lib/BrowserLauncher2-1_3.jar -text
main/lib/biojava3-alignment-3.0.5.jar -text
main/lib/biojava3-core-3.0.5.jar -text
main/lib/bytecode-1.8.jar -text
main/lib/commons-collections-3.2.1.jar -text
main/lib/core-1.8.jar -text
main/lib/guava-13.0.1.jar -text
main/lib/jgrapht-jdk1.5.jar -text
main/lib/junit-4.9b1.jar -text
main/lib/mysql-connector-java-5.1.13-bin.jar -text
main/lib/phylo-1.8.jar -text
main/lib/servlet.jar -text
main/src/info/bioinfweb/biojava3/alignment/SimpleAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/AbstractAlignmentReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/AbstractAlignmentWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/AlignmentReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/AlignmentWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/fasta/FastaWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/nexus/NexusReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/io/nexus/NexusWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/alignment/template/Alignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AlignmentAmbiguityDNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AlignmentAmbiguityNucleotideCompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AlignmentAmbiguityRNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AmbiguityNoGapDNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AmbiguityNoGapNucleotideCompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/AmbiguityNoGapRNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/NoGapDNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/NoGapNucleotideCompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/NoGapRNACompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/compound/NucleotideCompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/io/FastaReaderTools.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/io/MapFastaWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/template/AbstractNucleotideCompoundSet2.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/views/RemoveSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/views/RemovedCharSetSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/views/ReplaceAbstractSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/views/ReplaceNucleotideSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojava3/core/sequence/views/UnalignedSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/CharSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/CharSetNexusFileBuilder.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/SetsBlock.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/SetsBlockBuilder.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/SetsBlockListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/biojavax/bio/phylo/io/nexus/SetsBlockParser.java -text svneol=unset#text/plain
main/src/info/bioinfweb/util/AmbiguityBaseScore.java -text svneol=unset#text/plain
main/src/info/bioinfweb/util/ConsensusSequenceCreator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/util/SequenceUtils.java -text svneol=unset#text/plain
main/src/info/bioinfweb/util/alignment/pairwise/NeedlemanWunschAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/util/alignment/pairwise/PairwiseAligner.java -text svneol=unset#text/plain
main/src/info/webinsel/util/ChangeMonitor.java -text svneol=unset#text/plain
main/src/info/webinsel/util/ChangeMonitorable.java -text svneol=unset#text/plain
main/src/info/webinsel/util/CommandLineReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/HTMLTruncater.java -text svneol=unset#text/plain
main/src/info/webinsel/util/Math2.java -text svneol=unset#text/plain
main/src/info/webinsel/util/ProgramMainClass.java -text svneol=unset#text/plain
main/src/info/webinsel/util/PropertyChangeMonitor.java -text svneol=unset#text/plain
main/src/info/webinsel/util/RandomValues.java -text svneol=unset#text/plain
main/src/info/webinsel/util/StringUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/applet/DoubleBufferedApplet.java -text svneol=unset#text/plain
main/src/info/webinsel/util/appversion/AppVersionXMLConstants.java -text svneol=unset#text/plain
main/src/info/webinsel/util/appversion/AppVersionXMLReadWrite.java -text svneol=unset#text/plain
main/src/info/webinsel/util/appversion/ApplicationType.java -text svneol=unset#text/plain
main/src/info/webinsel/util/appversion/ApplicationVersion.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/MultiTreeMap.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/NonOverlappingIntervalList.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/ParameterMap.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SequenceIntervalList.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SequenceIntervalPositionAdapter.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SequenceIntervalPositionAdapterForComparable.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SimpleSequenceInterval.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SimpleSequenceIntervalFirstPosComparator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SimpleSequenceIntervalLastPosComparator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/collections/SimpleSequenceIntervalPositionAdapter.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/AlphaImageAssembler.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/FontCalculator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/GraphicsUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/ImageRescaler.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/vlcframegrabber/FrameReaderRenderCallback.java -text svneol=unset#text/plain
main/src/info/webinsel/util/graphics/vlcframegrabber/VLCFrameReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/AbstractSaver.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/DefaultNameManager.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/FormatVersion.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/IOProgressListener.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/IOProgressListenerAdapter.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/IOProgressListenerVector.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/IOUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/InternationalFileFilter.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/InvalidXSDPathException.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/Savable.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/TableReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/TextReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/XMLUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/streammessage/Message.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/streammessage/MessageReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/io/streammessage/NewerMessageVersionException.java -text svneol=unset#text/plain
main/src/info/webinsel/util/junit/TestTools.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/CaptchaDBManagement.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/CookieManager.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/DatabaseException.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/GetPostServlet.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/HTTPIncludeServlet.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/Model2Servlet.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/SQLManipulator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/ServletUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/acceptlanguage/AcceptLanguageEntry.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/acceptlanguage/AcceptLanguageParser.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/acceptlanguage/AcceptLanguageRedirectServlet.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/acceptlanguage/QualityComparator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/sqlproperties/ConcreteSQLProperties.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/sqlproperties/SQLProperties.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/sqlproperties/SQLXMLConstants.java -text svneol=unset#text/plain
main/src/info/webinsel/util/servlet/sqlproperties/SQLXMLReader.java -text svneol=unset#text/plain
main/src/info/webinsel/util/sql/IDGenerator.java -text svneol=unset#text/plain
main/src/info/webinsel/util/sql/SQLConnector.java -text svneol=unset#text/plain
main/src/info/webinsel/util/sql/SQLUtils.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/AbstractDocumentEdit.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/AbstractUndoActionManagement.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/AccessibleUndoManager.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/ActionHashMap.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/DecimalInput.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/DecimalInputDialog.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/ExtendedAbstractAction.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/ExtendedDesktopPane.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/FileChooserDirModel.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/JHTMLLabel.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/LocaleComboBoxModel.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/OkCancelApplyDialog.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/OkCancelApplyHelpDialog.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/RelativeRangeModel.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/SwingChangeMonitor.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/SwingSavable.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/SwingSaver.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/SwingSaverMessages.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/TableColumnModelAdapter.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/ToolBarPopup.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/scrollpaneselector/ExtendedScrollPaneSelector.java -text svneol=unset#text/plain
main/src/info/webinsel/util/swing/scrollpaneselector/ScrollPaneSelectable.java -text svneol=unset#text/plain
main/src/info/webinsel/util/tokenizer/StrToken.java -text svneol=unset#text/plain
main/src/info/webinsel/util/tokenizer/StrTokenizer.java -text svneol=unset#text/plain
main/src/info/webinsel/webapp/DBObject.java -text svneol=unset#text/plain
main/src/info/webinsel/webapp/MySQLManipulator.java -text svneol=unset#text/plain
main/src/info/webinsel/webapp/session/Session.java -text svneol=unset#text/plain
main/src/info/webinsel/webapp/session/Sessions.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/DefaultErrorHandler.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/OkCancelApplyWikiHelpDialog.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/SwingErrorHandler.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/WikiHelp.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/WikiHelpErrorHandler.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/client/WikiHelpOptionPane.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/IndexManagement.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/RedirectServlet.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/config/PropertiesManager.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/config/PropertiesReader.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/config/WikiHelpProperties.java -text svneol=unset#text/plain
main/src/info/webinsel/wikihelp/server/config/WikiHelpXMLConstants.java -text svneol=unset#text/plain
main/src/org/jdesktop/swingx/scrollpaneselector/ScrollPaneBidule.java -text svneol=unset#text/plain
main/src/org/jdesktop/swingx/scrollpaneselector/ScrollPaneSelector.java -text svneol=unset#text/plain
main/src/org/jdesktop/swingx/scrollpaneselector/TweakedScrollPaneLayout.java -text svneol=unset#text/plain
main/xsd/SQLConnection/1.0.xsd -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/lib/junit-4.9b1.jar -text
test/src/info/bioinfweb/biojava3/core/sequence/views/UnalignedSequenceViewTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/util/AmbiguityBaseScoreTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/util/ConsensusSequenceCreatorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/util/SequenceUtilsTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/util/alignment/pairwise/NeedlemanWunschAlignerTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/Math2Test.java -text svneol=unset#text/plain
test/src/info/webinsel/util/RandomValuesTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/StringUtilsTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/collections/IntervalElement.java -text svneol=unset#text/plain
test/src/info/webinsel/util/collections/MultiTreeMapTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/collections/NonOverlappingIntervalListTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/collections/SequenceIntervalListTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/collections/guavatest/TreeMultisetTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/io/XMLUtilsTest.java -text svneol=unset#text/plain
test/src/info/webinsel/util/servlet/acceptlanguage/AcceptLanguageParserTest.java -text svneol=unset#text/plain
